.note-item {
  width: 90%; /* Make the note item cover the full width */
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd; /* You can remove this if you don't want the border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.note-item:hover{
    background-color: #FFA500; 
    color: #fff;
}

.note-title {
  font-weight: bold;
}

.note-date {
  margin-top: 5px;
  color: #666;
}

.note-form {
  margin-bottom: 20px;
}

.note-input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  border-radius: 4px;
}

.note-submit {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.note {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
