/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
  }
  
  /* Home button styling */
  .home-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10%;
  }
  
  /* Profile icon container */
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10%;
    position: relative;
  }
  
  /* Profile icon image (adjust size as needed) */
  .profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
  }

  
.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-icon:hover .dropdown {
  display: block;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
}

  